   {% extends 'base.html' %}


    {% block content %}
   	    {% include 'navbar.html' %}

   <div class="d-flex justify-content-center">
						<form action="reset_user_password" method="post">
							{% csrf_token %}
							<h3 class="mb-4 billing-heading">Password Reset</h3>
											 <div style="color: black; text-align:left">
				 {% for message in messages %}
					                  {{ message }}
					                 {% endfor %}
				 </div>

	          	<div class="row align-items-center">
	          		<div class="col-md-12">
	                <div class="form-group">
	                  <input type="password" name="password" class="form-control" placeholder="password" required>
	                </div>
	                <div class="form-group">
	                  <input type="password" name="paswword2" class="form-control" placeholder="Confirm password" required>
	                </div>
	              </div>
                <div class="col-md-12">
					<input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">

                </div>
	            </div>
	          </form><!-- END -->
</div>
       {% endblock %}
