    {% extends 'base.html' %}


    {% block content %}
		    {% include 'navbar.html' %}

   <div class="d-flex justify-content-center">
	   <form action="{% url 'creatstaff' %}" method="post">
							{% csrf_token %}
							<h3 class="mb-4 billing-heading">SignUp Details</h3>
							<div style="color: black; text-align:left">
				 {% for message in messages %}
					                  {{ message }}
					                 {% endfor %}
				 </div>
	          	<div class="row align-items-center">
					<div class="col-md-6">
	                <div class="form-group">
	                  <input type="text" name="username" class="form-control" placeholder="username" required>
	                </div>
	              </div>
					<div class="col-md-6">
	                <div class="form-group">
	                  <input type="text" name="phone" class="form-control" placeholder="phone" required>
	                </div>
	              </div>
	          		<div class="col-md-12">
	                <div class="form-group">
	                  <input type="email" name="email" class="form-control" placeholder="email" required>
	                </div>
	                <div class="form-group">
	                  <input type="password" name="password1" class="form-control" placeholder="password" required>
	                </div>
	                <div class="form-group">
	                  <input type="password" name="password2" class="form-control" placeholder="password" required>
	                </div>
	              </div>
                    <div class="col-md-12">
					<input type="submit" class="btn btn-primary py-3 px-5" value="SignUp" > or <a href="{% url 'staff_login' %}"class="btn btn-primary py-3 px-5">Login</a></p>
                    </div>
	            </div>
	   </form><!-- END -->
</div>


    {% endblock %}
