   {% extends 'base.html' %}


    {% block content %}
   	    {% include 'navbar.html' %}

   <div class="d-flex justify-content-center">
						<form action="staff_login" method="post">
							{% csrf_token %}
							<h3 class="mb-4 billing-heading">Login Details</h3>
											 <div style="color: black; text-align:left">
				 {% for message in messages %}
					                  {{ message }}
					                 {% endfor %}
				 </div>

	          	<div class="row align-items-center">
	          		<div class="col-md-12">
	                <div class="form-group">
	                  <input type="text" name="email or phone" class="form-control" placeholder="email or phone" required>
	                </div>
	                <div class="form-group">
	                  <input type="password" name="password" class="form-control" placeholder="password" required>
	                </div>
	              </div>
                <div class="col-md-12">
					<input type="submit" class="btn btn-primary py-3 px-5" value="LogIn" >
					<a href="{% url 'request_password' %}">Forget Password ?</a>

                </div>
	            </div>
	          </form><!-- END -->
</div>
       {% endblock %}
